/*@media only screen and (max-width: 1200px){
	.head-top,.search-center,.head-nav,.content-top,.centent-goods-top{
		width:980px;
		margin: 0 auto;
	}
	
	.header-bottom-nav .header-bottom-left a{
		padding: 0px 10px;
	}
	.otherweb a{
		 margin: 0 8px;
	}*/
	/*.sliders{
		float: left;
		width:616px;
		height: 230px;
		overflow: hidden;
		padding: 10px 0px 0px 10px;
		position: relative;
	}
	.sliders-list .rslides .rslides1,.rslides1_on,.slider-pic a{
		width:616px;
		height: 230px;
	}*/
	/*.rslides_tabs,.slider-pic, .slider-pic  .sliders .sliders-list .slider-pic a{
		width:614px;
		height: 230px;
	}
	
	.sliders .sliders-list .slider-pic img{
		margin-left: -90px;
		overflow: hidden;
	*/
		/*@media only screen and (max-width: 1200px){
			#fixation3{
				width: 980px;
			}
		}*/

